<!-- this is the html file when the user-user algo does not return the movies but item item does -->
<!DOCTYPE html >
<html >
<head>
<title>watch these!!</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../static/style.css" type="text/css" media="all" />

</head>
<body>
<!-- START PAGE SOURCE -->
<div id="shell">


  <div id="main">
    <div id="content">
        <h1 id='maintitle'><center>The user-user algo currently has no recommendations for you</center></h1>
        <li><li></li>

<!-- the recommendations are added  -->
<h1 id='maintitle'><div id='item'><p><center>Recommendations by item-item collaborative learning</center></p></div></h1>
<div class="box"><div class="movie"><div class="movie-image"> <span class="play"></span> <a href="#"><img src={{it1}}></a> </div><div class="rating"><p>{{lo1}}</p></div></div></div>
<div class="box"><div class="movie"><div class="movie-image"> <span class="play"></span> <a href="#"><img src={{it2}}></a> </div><div class="rating"><p>{{lo2}}</p></div></div></div>
<div class="box"><div class="movie"><div class="movie-image"> <span class="play"></span> <a href="#"><img src={{it3}}></a> </div><div class="rating"><p>{{lo3}}</p></div></div></div>
<div class="box"><div class="movie"><div class="movie-image"> <span class="play"></span> <a href="#"><img src={{it4}}></a> </div><div class="rating"><p>{{lo4}}</p></div></div></div>
    </div>
  </div>   
      
 
</div>
</body>
</html>



