<!-- main page for Recommendations -->
<!DOCTYPE html >
<html >
<head>
<title>watch these!!</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../static/style.css" type="text/css" media="all" />

</head>
<body>
<div id="shell">


  <div id="main">
    <div id="content">
        <h1 id='maintitle'><center>Recommendations by user-user collaborative learning</center></h1>
        <div class="box"><div class="movie"><div class="movie-image"> <span class="play"></span> <a href="#"><img src={{i1}}></a> </div><div class="rating"><p>{{n1}}</p></div></div></div>
        <div class="box"><div class="movie"><div class="movie-image"> <span class="play"></span> <a href="#"><img src={{i2}}></a> </div><div class="rating"><p>{{n2}}</p></div></div></div>
        <div class="box"><div class="movie"><div class="movie-image"> <span class="play"></span> <a href="#"><img src={{i3}}></a> </div><div class="rating"><p>{{n3}}</p></div></div></div>
        <div class="box"><div class="movie"><div class="movie-image"> <span class="play"></span> <a href="#"><img src={{i4}}></a> </div><div class="rating"><p>{{n4}}</p></div></div></div>
        


<h1 id='maintitle'><div id='item'><p><center>Recommendations by item-item collaborative learning</center></p></div></h1>
<div class="box"><div class="movie"><div class="movie-image"> <span class="play"></span> <a href="#"><img src={{it1}}></a> </div><div class="rating"><p>{{lo1}}</p></div></div></div>
<div class="box"><div class="movie"><div class="movie-image"> <span class="play"></span> <a href="#"><img src={{it2}}></a> </div><div class="rating"><p>{{lo2}}</p></div></div></div>
<div class="box"><div class="movie"><div class="movie-image"> <span class="play"></span> <a href="#"><img src={{it3}}></a> </div><div class="rating"><p>{{lo3}}</p></div></div></div>
<div class="box"><div class="movie"><div class="movie-image"> <span class="play"></span> <a href="#"><img src={{it4}}></a> </div><div class="rating"><p>{{lo4}}</p></div></div></div>
    </div>
  </div>   
      
 
</div>
</body>
</html>



